:root {
    --primary-color-one: hsl(48, 100%, 67%);
    --primary-color-two: hsl(0, 0%, 0%);
    --primary-color-three: hsl(0, 70%, 100%);
}
/* ====================== Styles reset start ======================== */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
input, button {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
::-webkit-scrollbar {
    width: 5px;
}
/* ====================== Styles reset end ======================== */


.body-layout { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5em 1fr 3em;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      "."
      ".";
}
header,
footer {
    background-color: var(--primary-color-two);
}