@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

:root {
    --primary-color-one: hsl(120, 100%, 30%);
    --primary-color-two: hsl(0, 0%, 0%);
    --primary-color-three: hsl(0, 70%, 100%);
    --primary-color-four: hsl(48, 100%, 67%);
}
/* ====================== Styles reset start ======================== */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
input, button {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
::-webkit-scrollbar {
    width: 5px;
}
html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/* ====================== Styles reset end ======================== */

body {
    font-family: 'Roboto', sans-serif;

}
.section__title {
    font-size: 2.5rem;
    color: var(--primary-color-one);
    text-align: center;
    margin-bottom: 1.5rem;
}
.header-con {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color-two);
    z-index: 999;
    transition: 0.4s;
}

/* ============================= Nav bar styles start ======================= */
.nav {
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo {
    font-weight: 700;
    color: var(--primary-color-one);
    font-size: 1.75rem;
}
.span__logo {
    color: var(--primary-color-four);
}
.nav__logo:hover {
    color: var(--primary-color-four);
}
.span__logo:hover {
    color: var(--primary-color-one);
}
.nav__name {
    font-weight: 500;
}
.nav__icon {
    font-size: 1.5rem;
}
.nav__list,
.nav__link {
    display: flex;
}
.nav__list {
    justify-content: space-around;
    column-gap: 3rem;
}
.nav__link {
    flex-direction: column;
    align-items: center;
    color: var(--primary-color-one);
    row-gap: 0.25rem;
}
.nav__link:hover {
    color: var(--primary-color-four);
}
.nav__icon {
    display: none;
}
.active__link {
    position: relative;
}
@media screen and (min-width: 769px ){
    .active__link::before {
        content: '';
        position: absolute;
        bottom: -0.4rem;
        width: 2.5rem;
        height: 3px;
        border-radius: 3px;
        background-color: var(--primary-color-four);
    }
}
img {
    display: none;
}
@media screen and ( max-width: 992px ){
    .container {
        padding: 0 1rem;
    }
}
@media screen and ( max-width: 768px) {
    .nav__menu {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--primary-color-two);
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-items: center;
        justify-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
        box-shadow: 0 -1px 12px rgba(255, 222, 89, 0.25);
    }
    .nav__icon {
        display: block;
    }
    .nav__logo {
        margin: 0 auto;
    }
}

@media screen and ( min-width: 576px ) {
    .nav__list {
        justify-content: center;
    }
}
/* ============================= Nav bar styles end ========================= */